{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}

  <h1 class="text-body-emphasis">Cursos online</h1>

  {% if sucesso %}
    <p class="alert alert-success">Curso efetuado com sucesso!</p>
  {% else %}
  <form action="" method="POST" id="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <button type="submit" class="btn btn-primary btn-block">Inserir curso</button>  
    
  </form>
  
  <br>
  <h1>Cursos Cadastrados</h1><br>
  {% for curso in cursos %}
    <p>{{curso.titulo}}</p>
  {% endfor %}

  {% endif %}
{% endblock %}
